


.first_logo{
    #{&}_text{
     font-size: 9rem;
     margin: 0;
     padding: 0;
     margin-left: 1rem;
     font-weight: 400;
     }
     #{&}_img{
         margin: 0;
         padding: 0;
         width: 19.5rem;
     }
}

form{
    margin-top: 1rem;
}
.name{
  background: none;
  color: $text-color;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.3rem;
  padding-left:1rem ;
  padding-right: 1rem;
  margin-top: 0.8rem;
  width: 15rem;
  height: 2.4rem;
  border: 1px solid $text-color;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.label{
 font-weight: 200;
 text-align: center;
 font-size: 1.5rem;
 margin: 0;
}
.submit{
    @include button(2.4rem);
    margin: 0;
    margin-left: 0.3rem;
    width: 6rem;
   
}
